body{
    font-family: Calibri, serif;
    background-color: beige;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 50px 100px 50px;
    text-align: center;
    background-color: #baefba;
    color: #001c00;
    border-radius: 10px;
}

h1{
    font-family: "Calibri Light", serif;
    color: #1c6b1c;
    margin: 50px 50px 100px 50px;
    font-size: xx-large;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border-color: #399639;
    background-color: beige;
    color: #1c6b1c;
    font-weight: bold;
}

button:hover{
    background-color: ivory;
    color: #001c00;
    border-color: #baefba;
}

input[type="text"],
input[type="radio"] {
    margin-right: 5px;
}